<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Somente um site informativo para mostrar a importância do HTML para a construção de páginas web."
    />
    <meta
      name="keywords"
      content="HTML, site, página web, desenvolvimento web"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trade Point</title>
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />


    <!-- CSS geral -->
    <link rel="stylesheet" href="../src/css/style.css" />

    <!-- CSS contato -->
    <link rel="stylesheet" href="../src/css/contact.css" />



    <style>
      body {
        background-color: rgb(24, 25, 26);
      }
    </style>
  </head>

  <body>
    <header id="cabecalho">
      <div class="container">
        <figure>
          <a href="../index.html"
            ><img
              height="150"
              width="150"
              src="../assets/img/logo.png"
              alt="Logo do site"
          /></a>
          <figcaption>Logo do site</figcaption>
        </figure>
        <nav class="menu">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li><a href="./contato.html">Contato</a></li>
            <li><a href="./servicos.html">Serviços</a></li>
            <li><a href="./galeria.html">Galeria</a></li>
          </ul>
        </nav>
        <section class="title">
          <h1>TradePoint - Cursos</h1>
        </section>
      </div>
    </header>

    <main id="principal">
      <div class="container">
        <section class="contact">
          <form action="">
            <fieldset>
              <legend>Dados Pessoais</legend>
              <div class="input-group">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="input-group">
                <label for="lastname">Sobrenome</label>
                <input type="text" name="lastname" id="lastname" />
              </div>
              <div class="input-group">
                <label for="whatsapp">Whatsapp</label>
                <input type="tel" name="whatsapp" id="whatsapp" />
              </div>
              
              <div class="input-group">
               <label for="massage">Mensagem</label>
                <textarea name="message" id="message"></textarea>
              </div>
              <div class="iput-group">
                <input type="submit" value="Enviar" />
              </div>
            </fieldset>
          </form>
        </section>
      </div>
    </main>

    <!-- Colocar id no footer -->
    <footer id="rodape">
      <div class="container">
        <p>&copy; 2026 TradePoint - Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
